<h1>The Connoisseur</h1>


<table>
	<tr>
	<th>Name</th>
	<th>Price</th>
	<th>Category</th>
	</tr>

	
	<% @products['result'].each do |product| %>
	<tr>
		<td><%= link_to product['name'], product_path(product['id']) %></td>
		<td><%= format_price product['price_in_cents'] %></td>
		<td><%= product['primary_category'] %></td>
	</tr>
	<% end %>



	
</table>

